{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://global.kduniv.ac.kr/global//favicon.ico"
      type="image/x-icon"
    />

    <meta
      name="description"
      content="Kyungdong University Global (Korea)'s intensive four-week summer school taught by distinguished KDU and visiting faculty members"
    />
    <title>
      KDU Global Immersion Program (KGIP)
    </title>
    <link
      href="{% static 'assets/notosanskr.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'assets/nanumgothic.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'assets/css.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link href="{% static 'assets/font-awesome.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/default.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/mystyle.css' %}" />
    <script
      type="text/javascript"
      src="{% static 'assets/jquery.min.js' %}"
    ></script>
    <script src="{% static 'assets/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/myfunction.js' %}"></script>

    <script src="{% static 'assets/jquery.menu' %}"></script>
    <script src="{% static 'assets/common' %}"></script>
    <script src="{% static 'assets/wrest' %}"></script>
    <script src="{% static 'assets/jquery.flexslider-min.js' %}"></script>
  </head>
  <body id="" class="mainpage">
    <section class="top-nav">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="logo">
              <a href="{% url 'main' %}"
                ><img
                src="{% static 'assets/Full.png' %}"
                  alt=""
                  class="img-responsive"
                  style="width: 30vh"
              /></a>
            </h1>
          </div>

          <div class="top-nav-sub">
            <ul>
              <li>
                <a href="{% url 'main' 7 %}">CONTACT US</a>
              </li>
              <li>
                <a href="{% url 'form' %}"><em>APPLY NOW</em></a>
              </li>
            </ul>
          </div>
          <!-- / .top-nav-sub -->
        </div>
      </div>
    </section>
    <nav id="gnb" class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#nav-top"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="nav-top">
          <ul class="nav navbar-nav navbar-center">
            
            {% for nav in data %}

             {% if nav.contents.all|length < 2 %}
             {% for sub in nav.contents.all %}
              <li class="dropdown me_code60">
                <a
                  href="{% url 'main' sub.pk %}"
                  target="_self"
                  
                  >{{nav}}
                </a>
              </li>
              {% endfor %}
             {% else %}
              <li class="dropdown me_code10">
                <a
                  href="#"
                  target="_self"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >{{nav}}
                </a>
                <ul class="dropdown-menu">
                  {% for sub in nav.contents.all %}
                    
                    {% if sub.pk == 22 %}
                    <li>
                      <a href="{% url 'main' 'form' %}" target="_self"
                        >{{sub}}</a
                      >
                    </li>
                    {% else %}
                    <li>
                      <a href="{% url 'main' sub.pk %}" target="_self"
                        >{{sub}}</a
                      >
                    </li>
                    {% endif %}
                  
                  {% endfor %}
                  
                </ul>
              </li>
             {% endif %}

            {% endfor %}
            
            
            <li class="dropdown me_code80 mobileonly">
              <a
                href="{% url 'main' 'form' %}"
                
                >Apply Now</a
              >
            </li>
          </ul>
          <!-- / navbar-nav -->
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- / # gnb -->

    <link rel="stylesheet" href="{% static 'assets/bootstrap-icons.css' %}" />

    {% block content %}{% endblock %}

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img
              src="{% static 'assets/Logo.png' %}"
              alt=""
              class="logo-alt img-responsive"
              style="width: 100vh"
            />
          </div>
          <div class="col-md-9">
            
            <p class="heading" style="color: #ffff00;">
              KDU Global Immersion Program (KGIP) 2023
            </p>
            <p>
              <b><span style="color: #ffff00">Address: </span></b
              >46 Bongpo 4-gil, Goseong-gun, Gangwondo, South Korea 24764
            </p>
            

            <p>
              <b style="color: #ffff00">Email: </b>
              <a href="info@kduglobal.net">kgip@kduglobal.net</a>
            </p>
            <p>
              <b style="color: #ffff00">SNS: </b>
              <a href="https://www.facebook.com/prof.john.lee"
                >https://www.facebook.com/prof.john.lee</a
              >
            </p>

            <p class="copyright">
              Copyright© 2023 Kyungdong University Global. All Rights Reserved.
            </p>
          </div>
          <!-- / .col-md-8 -->
        </div>
        <!-- / .row -->
      </div>
      <!-- // container -->
    </footer>
  </body>
</html>
