{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    
    

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <!-- Include Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <!-- Include Bootstrap Datepicker CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
      <!-- Custom Styles -->

    <title>Appliaction Form For INC</title>
  </head>
  <body>
    <div class="container">
      <div
        style="
          margin-top: 5%;
          color: green;
          font-weight: bolder;
          font-size: 2rem;
          justify-content: center;
          text-align: center;
        "
      >
      Application for KDU Global Immersion Program 2023
      </div>
      <div
        style="
          margin-top: 5%;
          color: green;
          font-weight: bolder;
          font-size: 1rem;
          justify-content: center;
          text-align: center;
        "
      >
       
      </div>
      

      <form action="" method="post" style="margin-top: 2%" enctype="multipart/form-data">
        {% csrf_token %}
        <div
          style="
            margin: 2% 1% 2% 0%;
            color: green;
            font-weight: bolder;
            font-size: 1rem;
            justify-content: center;
          "
        >
          I. Personal Details
        </div>
        <div class="form-row">
          <div class="form-group col-md-9">
            <div class="form-group">
              <label for="lastName">1. Last Name/Surname (as in passport)</label>
              <input
                required
                type="text"
                class="form-control"
                id="lastName"
                name="lastName"
                placeholder="Last Name"
              />
            </div>
            <div class="form-group">
              <label for="firstName">2. First Name(s)</label>
              <input
                required
                type="text"
                class="form-control"
                id="firstName"
                name="firstName"
                placeholder="First Name"
              />
            </div>
            <div class="form-group">
              <label for="dateofbirth">3. Date of Birth</label>
              <input
                required
                type="text"
                class="form-control datepicker"
                id="dateofbirth"
                name="dateofbirth"
                placeholder="Date Of Birth"
                
              />
            </div>

            <div class="form-group">
              <label for="">5. Gender</label>
              <div class="row" style="margin: 5px">
              
                <div class="col-3">
                  <input required class="form-check-input" type="radio" name="gender" id="male" value="male">
                  <label class="form-check-label" for="male">Male</label>
               </div>
  
              <div class="col-3">
                  <input required class="form-check-input" type="radio" name="gender" id="female" value="female">
                  <label class="form-check-label" for="female">Female</label>
              </div>
  
              <div class="col-3">
                <input required class="form-check-input" type="radio" name="gender" id="others" value="others">
                <label class="form-check-label" for="others">Others</label>
            </div>
  
              </div>
            </div>

            
            
          </div>

          <div class="form-group col-md-3">
            <div class="card" style="width: 13rem; height: auto">
              <label for="photo">
                <img
                  class="card-img-top"
                  src="{% static 'assets/self.jpg' %}"
                  alt="Card image cap"
                  id="imgPreview"
              /></label>
              <input
                required
                hidden
                type="file"
                name="photograph"
                id="photo"
                
              />
            </div>
            <div class="row" style="margin: 5px">
              <label for="">4. Photo Upload</label>
            </div>
           
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="country">6. Country of Citizenship</label>
            <select class="form-control" name="country" id="country" required>
              <option value="">--Please choose a country--</option>
              {% for country in countries %}
                <option value="{{country}}">{{country}}</option>
              {% endfor %}
            </select>
            
          </div>

          <div class="form-group col-md-4">
            <label for="nationality">7. Country of Residence</label>
            <select class="form-control" name="nationality" id="nationality" required>
              <option value="">--Please choose a country--</option>
              {% for country in countries %}
                <option value="{{country}}">{{country}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="passport">8. Passport Number</label>
            <input
              required
              type="text"
              class="form-control"
              id="passport"
              name="passport"
              placeholder="Passport Number"
            />
          </div>
        </div>

        <div
          style="
            margin: 2% 1% 2% 0%;
            color: green;
            font-weight: bolder;
            font-size: 1rem;
            justify-content: center;
          "
        >
          II. Contact Information
        </div>
        <div class="form-group">
          <label for="homeAddress">9. Home Address</label>
          <input
            required
            type="text"
            class="form-control"
            id="homeAddress"
            name="homeAddress"
            placeholder="Home Address"
          />
        </div>
        <div class="form-group">
          <label for="currentAddress">10. Current Address</label>
          <input
            required
            type="text"
            class="form-control"
            id="currentAddress"
            name="currentAddress"
            placeholder="Current Address"
          />
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="MobileTelNumber">11. Mobile NO.</label>
            <input
              required
              type="text"
              class="form-control"
              id="MobileTelNumber"
              name="MobileTelNumber"
              placeholder="Mobile"
            />
          </div>

          <div class="form-group col-md-4">
            <label for="homeTelNumber">12. Tel NO.</label>
            <input
              required
              type="text"
              class="form-control"
              id="homeTelNumber"
              name="homeTelNumber"
              placeholder="Home"
            />
          </div>

          <div class="form-group col-md-4">
            <label for="email">13. Email</label>
            <input
              required
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Email"
            />
          </div>
        </div>

        <div
          style="
            margin: 2% 1% 2% 0%;
            color: green;
            font-weight: bolder;
            font-size: 1rem;
            justify-content: center;
          "
        >
          III. Affiliated Institution
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="institution">14. Name of University/Institution</label>
            <input
              required
              type="text"
              class="form-control"
              id="name_institution"
              name="name_institution"
              placeholder="Institution"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="Address">15. Address</label>
            <input
              required
              type="text"
              class="form-control"
              id="address_inst"
              name="address_inst"
              placeholder="Address"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>16. Enrollment</label>
            <div class="form-row" style="margin-left: 3%">
              <div class="col-6">
                <input required class="form-check-input" type="radio" name="degree" id="undergraduate" value="undergraduate">
                <label class="form-check-label" for="undergraduate">Undergraduate</label>
            </div>

            <div class="col-6">
                <input required class="form-check-input" type="radio" name="degree" id="graduate" value="graduate">
                <label class="form-check-label" for="graduate">Graduate</label>
            </div>
              
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="department">17. Department/Major</label>
            <input
              required
              type="text"
              class="form-control"
              id="department"
              name="department"
              placeholder="Department"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="major">18. Year</label>
            <input
              required
              type="text"
              class="form-control"
              id="major"
              name="major"
              placeholder="Year"
            />
          </div>

          <div class="form-group col-md-4">
            <label for="institureTel">19. Tel NO.</label>
            <input
              required
              type="text"
              class="form-control"
              id="institureTel"
              name="institureTel"
              placeholder="Mobile"
            />
          </div>

          <div class="form-group col-md-4">
            <label for="instituteEmail">20. Email</label>
            <input
              required
              type="email"
              class="form-control"
              id="instituteEmail"
              name="instituteEmail"
              placeholder="Email"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="languages">21. Please indicate your level of English proficiency</label>
          <div class="row" style="margin: 5px">
            <div class="col-2">
              <input
                required
                class="form-check-input
                  required"
                type="radio"
                name="proficiencyEnglish"
                id="None"
                value="None"
              />
              <label class="form-check-label" for="None">None</label>
            </div>

            <div class="col-2">
              <input
                required
                class="form-check-input
                  required"
                type="radio"
                name="proficiencyEnglish"
                id="Beginner"
                value="Beginner"
              />
              <label class="form-check-label" for="Beginner">Beginner</label>
            </div>

            <div class="col-2">
              <input
                required
                class="form-check-input
                  required"
                type="radio"
                name="proficiencyEnglish"
                id="Intermediate"
                value="Intermediate"
              />
              <label class="form-check-label" for="Intermediate"
                >Intermediate</label
              >
            </div>

            <div class="col-2">
              <input
                required
                class="form-check-input
                  required"
                type="radio"
                name="proficiencyEnglish"
                id="Advanced"
                value="Advanced"
              />
              <label class="form-check-label" for="Advanced">Advanced</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="proficiency"
            >22. Please indicate your level of Korean proficiency</label
          >
          <div class="row" style="margin: 5px">
            <div class="col-2">
              <input
                required
                class="form-check-input
                  required"
                type="radio"
                name="proficiencyKorean"
                id="None"
                value="None"
              />
              <label class="form-check-label" for="None">None</label>
            </div>

            <div class="col-2">
              <input
                required
                class="form-check-input
                  required"
                type="radio"
                name="proficiencyKorean"
                id="Beginner"
                value="Beginner"
              />
              <label class="form-check-label" for="Beginner">Beginner</label>
            </div>

            <div class="col-2">
              <input
                required
                class="form-check-input
                  required"
                type="radio"
                name="proficiencyKorean"
                id="Intermediate"
                value="Intermediate"
              />
              <label class="form-check-label" for="Intermediate"
                >Intermediate</label
              >
            </div>

            <div class="col-2">
              <input
                required
                class="form-check-input
                  required"
                type="radio"
                name="proficiencyKorean"
                id="Advanced"
                value="Advanced"
              />
              <label class="form-check-label" for="Advanced">Advanced</label>
            </div>
          </div>
        </div>

        <div>
          <div
            style="
              margin-top: 5%;
              color: green;
              font-weight: bolder;
              font-size: 1rem;
              justify-content: center;
              text-align: center;
            "
          >
             Statement of Interest
          </div>

          <p>
            In no more than 500 words, please describe why you want to participate in 
            the KDU Global Immersion Program 2023 and how the program may benefit you. 
            List your possible contributions to the program and KDU Global e.g., 
            social media promotions, networking awareness channels, cultural performances 
            and presentations, community service projects, etc. 
          </p>

          <textarea name="Statement" style="width: 100%" rows="20"></textarea>
        </div>

        <div
            style="
              margin-top: 5%;
              color: green;
              font-weight: bolder;
              font-size: 1rem;
              justify-content: center;
              text-align: center;
            "
          >
             Upload the Required Documents in one PDF format
          </div>

          <div class="form-group">
            <label for="docs">Choose file:</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="docs" name="docs" required>
              <label class="custom-file-label" for="docs">Choose file</label>
            </div>
          </div>
          
        
        <button
          type="submit"
          class="btn btn-success form-control"
          style="margin: 5% 5% 5% 0%"
        >
          Submit
        </button>
      </form>
    </div>

    

    <script>
      $(document).ready(() => {
        $("#photo").change(function () {
          const file = this.files[0];
          if (file) {
            let reader = new FileReader();
            reader.onload = function (event) {
              $("#imgPreview").attr("src", event.target.result);
            };
            reader.readAsDataURL(file);
          }
        });
      });
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <!-- Include Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Include Bootstrap Datepicker JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script>
    // Initialize the datepicker
    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd',
      startDate: '-35y',
      endDate: '-13y', // Set the maximum date to 18 years ago
      autoclose: true
    });
  </script>
  </body>
</html>
