{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="header-page">
    <div class="container">
        <h1 id="content-title" data-subheading="ABOUT"><span>Health Insurance</span></h1>
    </div>
    <div class="lnb">
        <ul class="breadcrumb container">
            <li><a href="/">HOME</a></li>
            <li>Applications</li>
            <li>Health Insurance</li>
        </ul>
    </div>
</section>
<div class="row">
    <div class="col-sm-4"><img src="https://global.kduniv.ac.kr/global/index.php?pCode=1434967668&mode=iv&idx=498&num=1&w=750&opt=1" class="img-responsive center-block" alt=""></div>
    <div class="col-sm-8">
        <p>
            KDU Global Summer Program is an annual event organized and fully funded by Kyungdong University Global Campus to provide international students with a unique opportunity to discover Korean culture, build networks, and complete skills-oriented technical and academic courses.

        </p>
        <p>
            Summer Program 2022 is composed of two sessions. Session I will last from July 10 to August 11 and is designed to expose program participants to contemporary vogues of South Korea through professional classes on K-Beauty, K-Pop, K-Cuisine, and K-Sports. In Session II students will have a chance to enroll to undergraduate degree courses at KDU Global Campus and study in a culturally diverse, truly global environment for a semester from August 29 to December 12, 2022. Both sessions offer various cultural activities, language classes, and exciting field trips throughout Korea!
        </p>
        <p>
            Selected program participants will be granted full scholarships that cover tuition fees, on-campus accommodation, transportation and organizational costs of field trips and professional classes.
        </p>
        <p>
            We welcome and look forward to having you in KDU Global International Networking Camp 2022!
        </p>

    </div>
</div>
</div>
{% endblock %}