{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="main-content">

    <section class="apply-wrap" style="height: 80vh;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>2023 KDU International Networking Camp (INC)</h2>
            <h6>The KDU Global International Networking Camp (INC) will brighten up your summer with unforgettable memories and hands-on experiences.</h6>
            <a href="{% url 'main' 'program_theme' %}">2023 INC Program</a>
            <a href="{% url 'form' %}" target="_blank">Apply Now (open until 30 April, 2023)</a>
          </div>
        </div>
      </div>
    </section>
    
  
    
  
    <div class="video-overlay">
      <iframe class="video-bg"
    
    src="https://www.youtube.com/embed/11Ue-LJMS50?controls=0&autoplay=1&mute=1"
    ></iframe>
    </div>
  
  </section>

  {% endblock %}