{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="header-page">
    <div class="container">
        <h1 id="content-title" data-subheading="ABOUT"><span>Program Overview</span></h1>
    </div>
    <div class="lnb">
        <ul class="breadcrumb container">
            <li><a href="/">HOME</a></li>
            <li>Program</li>
            <li>Program Overview</li>
        </ul>
    </div>
</section>

<div id="content" class="container con-container">
    <!-- CONTENT -->

    <h2 style="color: goldenrod;">Program Overview</h2>
    <br/>
    <div class="row">
        <div class="col-sm-12"><img src="assets/programTheme.jpg" class="img-responsive center-block" alt=""></div>
        
    </div>
    <div class="row">
        
        <div class="col-sm-12">

            <br />
            <h2 style="color: red;">What courses are offered?</h2>
            <br />
            <p>* Korean Language </p>
            <p>* English Language (Only for Korean Students) </p>
            <p>* K-Beauty </p>
            <p>* K-Cuisine </p>
            <p>* K-Sports </p>
            <p>* K-Dance  </p>
            <p>* K-Music   </p>
            <p>* Korean Studies   </p>
            <p>* International & East Asian Studies </p>
            <p>* Economics & Business </p>
            <p>* Engineering & Life Sciences </p>
            <p>* Global Practice and Field Learning </p>
            <br />
            <br />
            <br />

        </div>
    </div>
</div>

{% endblock %}
