{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="header-page">
    <div class="container">
        <h1 id="content-title" data-subheading="ABOUT"><span>Summer in Sokcho</span></h1>
    </div>
    <div class="lnb">
        <ul class="breadcrumb container">
            <li><a href="/">HOME</a></li>
            <li>About</li>
            <li>Summer in Sokcho</li>
        </ul>
    </div>
</section>
<div id="content" class="container con-container">
    <!-- CONTENT -->

    <h2>Summer in Sokcho</h2>
    
    <div class="row">

        <div class="col-sm-12">

            <br />
           
            <p>
                Sokcho (속초) is a city in Gangwon Province, South Korea. It is located in the far northeast of Gangwon. The city is a major tourist hub and a popular gateway to nearby Seoraksan national park. Sokcho is home to a few lakes: Yeongrangho and Cheongchoho which are naturally created by the East Sea.
            </p>
            <br />
            <p>
                The Sokcho's main attractions are mountain, beaches, camping, and all kinds of summer activities such as Seoraksan mountain, Sokcho Beach, Abai Village, Teddy Bear Farm, Sinheungsa: A Mountain Temple, Sokcho Lighthouse Observatory, Cheoksan Spa, Diving, etc.
            </p>
           
            <br />

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12"><img src="assets/summerInSokcho.jpg" class="img-responsive center-block" alt=""></div>

    </div>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
{% endblock %}