{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="header-page">
    <div class="container">
        <h1 id="content-title" data-subheading="ABOUT"><span>About KDU Global</span></h1>
    </div>
    <div class="lnb">
        <ul class="breadcrumb container">
            <li><a href="/">HOME</a></li>
            <li>ABOUT</li>
            <li>About KDU Global</li>
        </ul>
    </div>
</section>

<div id="content" class="container con-container">
    <!-- CONTENT -->

    <!--<h2>About KDU Global</h2>-->
    <div class="row">
        <div class="col-sm-4"><img src="https://global.kduniv.ac.kr/global/_Img/Contents/gosung01_img2.gif" class="img-responsive center-block" alt=""></div>
        <div class="col-sm-8">
            <p>
                Founded in 1981, Kyungdong University (KDU) has emerged as one of the leading Korean universities in international education. Currently KDU is nurturing close to seven thousand students in three campuses in Korea: Yangju Metropol Campus, Wonju Medical Campus, and Goseung Global Campus.
            </p>
            <p>
                Since 2015 KDU Global Campus offers various English medium undergraduate degree courses in International Business Administration, Hotel Management, and Computer Sciences for international students. KDU also nurtures highly demanded professionals in 28 Korean medium courses ranging from Nursing, Dental Technology, Biomedical Laboratory to Civil Engineering, Architecture Design, and Early Childhood Education. In Session II students will have a chance to enroll to undergraduate degree courses at KDU Global Campus and study in a culturally diverse, truly global environment for a semester from August 29 to December 12, 2022. Both sessions offer various cultural activities, language classes, and exciting field trips throughout Korea!
            </p>
            <p>
                In partnership with over 30 prominent partner universities worldwide, KDU Global has initiated a novel concept of Global Student Mobility, where international students are educated on a common academic platform allowing them to freely move within the network on the path to their degrees and professional dreams.
                KDU Global Campus has remained as a top destination for students from over 50 countries seeking quality education and a wide range of opportunities in a culturally diverse yet family-like environment.

            </p>
            

        </div>
    </div>
</div>
{% endblock %}