{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="header-page">
    <div class="container">
        <h1 id="content-title" data-subheading="ABOUT"><span>Contact Us</span></h1>
    </div>
    <div class="lnb">
        <ul class="breadcrumb container">
            <li><a href="/">HOME</a></li>
            <li>About</li>
            <li>Contact Us</li>
        </ul>
    </div>
</section>

<div id="content" class="container con-container">
    <!-- CONTENT -->

    <h2 style="color: navy;">Go KDU! Go Global!</h2>
    <br/>
    <div class="row">
        <br/>
        <div class="col-sm-4"><img src="assets/contactUs.jpg" class="img-responsive center-block" alt=""></div>
        <div class="col-sm-8">
            <br />
            <p>
                Our office hours are Monday to Friday, 9:00 am - 6:00pm, Seoul time. (Closed on weekends and national holidays)
            </p>
            <br />
            <p>
                Any inquiries about the KDU Global Immersion Program (KGIP) program can be made by email, by phone (during office hours), or by visiting the KDU Global International Networking Camp (INC) Office in person.
            </p>
            <br />
            <br />

            <p>
                Tel: +82-33-639-0144
            </p>
            <p>
                Email: info@ inc.kduniv.ac.kr
            </p>
            <p>
                Web: https://inc.kduniv.ac.kr
            </p>
            <p>
                Office: Global Campus (Goseong) 46 4-gil, Bongpo, Goseong, Gangwondo, 24764
            </p>
            <p>
                Social Media:  Youtube,  Facebook,  Instagram
            </p>

            <br />
            <p style="color: red;">
                All inquiries regarding admissions must be directed to info@kduniv.ac.kr
            </p>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
{% endblock %}