{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="header-page">
    <div class="container">
        <h1 id="content-title" data-subheading="ABOUT"><span>President Message</span></h1>
    </div>
    <div class="lnb">
        <ul class="breadcrumb container">
            <li><a href="/">HOME</a></li>
            <li>About</li>
            <li>President Message</li>
        </ul>
    </div>
</section>

<div id="content" class="container con-container">
    <!-- CONTENT -->

     <div class="row">
        <div class="col-sm-12"><img src="https://global.kduniv.ac.kr/global/_Img/Contents/img4_1_02-2.jpg" class="img-responsive center-block" alt=""></div>
        
    </div>
    <div class="row">
        
        <div class="col-sm-12">
            <p>
                Professor John Lee has been leading the global expansion of Kyungdong University since he became the President of Global Campus in 2014. He is an Australian citizen with over 30 years of experience as a Vice-Chancellor and President in Australia and South Korea.
            </p>
            <p>
                John is an internationally well-recognized leader for setting the frontiers of International Higher Education. Under his leadership, KDU Global has launched numerous undergraduate degree programs in English medium in the areas of Business and Computing Technologies. Foreseeing the vast expansion of Korean culture and socio-economic integration of the country with the rest of the world, unique undergraduate and training programs in Korean medium were also introduced to the pool of educational opportunities for international students at KDU Global. Over the last five years, the total number of international student enrollments at KDU jumped from just around 50 to over 1,000.
            </p>
            <p>
                With a new vision for KDU Global, John also founded the Global Student Mobility Project (GSMP) to network the prominent higher educational institutions worldwide under a common, collaborative academic umbrella. GSMP has rapidly expanded into over 20 countries warranting the students unparalleled flexibility to experience new cultures, learn new languages, build networks, be exposed to the forefront industries, and most importantly, obtain internationally competitive and uninterrupted education.
            </p>
            <p>
                GSMP has enabled the increasing number of partner institutions to establish and operate Global Academic Collaboration Centers (GACC) by adopting the curriculums as well as the teaching and learning practices from KDU Global. The united capacity of the GACC network is now proven to produce massive synergy effects in terms of enhancing the common academic and management resources for all members and thousands of students all around the world.
            </p>

            <p>
                KDU Global leadership is committed to exposing each and every one of the existing and prospective students to countless global opportunities. This is the relentless mission of the strong leadership envisioning the future of the world industries and communities in its graduates!
            </p>
            
            <br>
            <br>
            
        </div>
    </div>
</div>
{% endblock %}