{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="header-page">
    <div class="container">
        <h1 id="content-title" data-subheading="ABOUT"><span>Program Schedule</span></h1>
    </div>
    <div class="lnb">
        <ul class="breadcrumb container">
            <li><a href="/">HOME</a></li>
            <li>Program</li>
            <li>Program Schedule</li>
        </ul>
    </div>
</section>

<div id="content" class="container con-container">
    <!-- CONTENT -->
    
    <h2>Program Schedule</h2>
    <div class="row">
       <div class="col-sm-12">
        <p>
          Session I: July 10 – August 11, 2023
      </p>
        <p>
          Session II: August 28 – December 15, 2023
      </p>
        <table class="table">
          <thead class="thead-dark">
            <tr>
  
              <th scope="col">International Networking Camp (INC) 2023</th>
              <th scope="col">Event</th>
  
            </tr>
          </thead>
          <tbody>
            <tr>
  
              <td>October 1, 2022</td>
              <td>Application Open</td>
            </tr>
            <tr>
  
              <td>April 30, 2023</td>
              <td>Admission Closed and last date of documents submission including admission fee</td>
            </tr>
            <tr>
  
              <td>May 1 ~ 31, 2023</td>
              <td>Evaluation and admission results will be notified individually</td>
            </tr>
            <tr>
  
              <td>June 1 ~ 30, 2023</td>
              <td>Visa Apply</td>
            </tr>
            <tr>
  
              <td>July 5 ~ 9, 2023</td>
              <td>Dormitory check-in</td>
            </tr>
            <tr>
  
              <td>July 10, 2023</td>
              <td>Opening ceremony</td>
            </tr>
            <tr>
  
              <td>July 10, 2023</td>
              <td>Course registration Session I</td>
            </tr>
            <tr>
  
              <td>July 11, 2023</td>
              <td>First day of International Networking Camp (INC) 2023 classes</td>
            </tr>
            <tr>
  
              <td>August 10, 2023</td>
              <td>Last day of International Networking Camp (INC) 2023 classes</td>
            </tr>
            <tr>
  
              <td>August 11, 2023</td>
              <td>Closing ceremony</td>
            </tr>
            <tr>
  
              <td>August 11, 2023</td>
              <td>Course registration Session II</td>
            </tr>
            <tr>
  
              <td>August 12 ~ 15, 2023</td>
              <td>Dormitory check-out</td>
            </tr>
          </tbody>
        </table>
  
        <p style="color: red;">Note: Details Program Schedule Later on</p>
        <br>
        
      </div>
    </div>
    </div>
  
{% endblock %}