{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="header-page">
    <div class="container">
        <h1 id="content-title" data-subheading="ABOUT"><span>Why KDU Global</span></h1>
    </div>
    <div class="lnb">
        <ul class="breadcrumb container">
            <li><a href="/">HOME</a></li>
            <li>About</li>
            <li>Why KDU Global</li>
        </ul>
    </div>
</section>

<div id="content" class="container con-container">
    <!-- CONTENT -->

    <h2>Why KDU Global</h2>
    <div class="row">
        <div class="col-sm-12"><img src="https://thumbs.dreamstime.com/b/three-layers-icon-vector-outline-illustration-sign-isolated-contour-symbol-168870121.jpg" class="img-responsive center-block" alt=""></div>
        
    </div>
    <div class="row">
        
        <div class="col-sm-12">

            <br />
            <h2 style="color: navy;">1. Learn</h2>
            <p>
                •	Distinguished faculty members
            </p>
            <p>
                •	The best environment for learning Korean Language
            </p>
            <p>
                •	Exposure to different points of view on South Korea
            </p>
            <p>
                •	Thorough support from faculty who have a strong background in the courses offered
            </p>

            <br />

            <h2 style="color: navy;">2. Hands-on Experience</h2>
            <p>
                •	Experience Korean higher education
            </p>
            <p>
                •	In-class field trips to leading global companies in Korea, National Assembly, etc.
            </p>
            <p>
                •	Special Field-Trip programs to visit historic sites
            </p>
            <br />

            <h2 style="color: navy;">3. Enjoy </h2>
            <p>
                •	Small, tight-knit, friendly community
            </p>
            <p>
                •	Making new friends from all around the world as well as KDU students
            </p>
            <p>
                •	Various leisure activities (10+ activities including 3 field-trips and beach festival)
            </p>
            <br />
            <br />
            <br />

        </div>
    </div>
</div>
{% endblock %}